<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário para Envio de Emails</title>
</head>
<body>
    <form action="" method="POST">
        <label for="email">Digite o email do Destinatásrio:</label><br>
        <input type="email" name="email" id="email" required><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>